xsd/RateV4Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~      __  ___      ____  _     ___                           _                    __
  ~     /  |/  /_  __/ / /_(_)___/ (_)___ ___  ___  ____  _____(_)___  ____   ____ _/ /
  ~    / /|_/ / / / / / __/ / __  / / __ `__ \/ _ \/ __ \/ ___/ / __ \/ __ \ / __ `/ /
  ~   / /  / / /_/ / / /_/ / /_/ / / / / / / /  __/ / / (__  ) / /_/ / / / // /_/ / /
  ~  /_/  /_/\__,_/_/\__/_/\__,_/_/_/ /_/ /_/\___/_/ /_/____/_/\____/_/ /_(_)__,_/_/
  ~
  ~  @author Multidimension.al
  ~  @copyright Copyright © 2016-2017 Multidimension.al - All Rights Reserved
  ~  @license Proprietary and Confidential
  ~
  ~  NOTICE:  All information contained herein is, and remains the property of
  ~  Multidimension.al and its suppliers, if any.  The intellectual and
  ~  technical concepts contained herein are proprietary to Multidimension.al
  ~  and its suppliers and may be covered by U.S. and Foreign Patents, patents in
  ~  process, and are protected by trade secret or copyright law. Dissemination
  ~  of this information or reproduction of this material is strictly forbidden
  ~  unless prior written permission is obtained.
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="RateV4Request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Revision" minOccurs="0" type="xs:int" />
        <xs:element name="Package" maxOccurs="25">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Service">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:whiteSpace value="collapse" />
                    <xs:enumeration value="First Class" />
                    <xs:enumeration value="First Class Commercial" />
                    <xs:enumeration value="First Class HFP Commercial" />
                    <xs:enumeration value="Priority" />
                    <xs:enumeration value="Priority Commercial" />
                    <xs:enumeration value="Priority Cpp" />
                    <xs:enumeration value="Priority HFP Commercial" />
                    <xs:enumeration value="Priority HFP CPP" />
                    <xs:enumeration value="Priority Mail Express" />
                    <xs:enumeration value="Priority Mail Express Commercial" />
                    <xs:enumeration value="Priority Mail Express CPP" />
                    <xs:enumeration value="Priority Mail Express Sh" />
                    <xs:enumeration value="Priority Mail Express Sh Commercial" />
                    <xs:enumeration value="Priority Mail Express HFP" />
                    <xs:enumeration value="Priority Mail Express HFP Commercial" />
                    <xs:enumeration value="Priority Mail Express HFP CPP" />
                    <xs:enumeration value="Retail Ground" />
                    <xs:enumeration value="Media" />
                    <xs:enumeration value="Library" />
                    <xs:enumeration value="All" />
                    <xs:enumeration value="Online" />
                    <xs:enumeration value="Plus" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FirstClassMailType" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:whiteSpace value="collapse" />
                    <xs:enumeration value="LETTER" />
                    <xs:enumeration value="FLAT" />
                    <xs:enumeration value="PARCEL" />
                    <xs:enumeration value="POSTCARD" />
                    <xs:enumeration value="PACKAGE SERVICE" />
                    <xs:enumeration value="" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ZipOrigination">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:whiteSpace value="collapse" />
                    <xs:length value="5" />
                    <xs:pattern value="\d{5}" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ZipDestination">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:whiteSpace value="collapse" />
                    <xs:length value="5" />
                    <xs:pattern value="\d{5}" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Pounds">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="70" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Ounces">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="1120.0" />
                    <xs:totalDigits value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Container" default="VARIABLE">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:whiteSpace value="collapse" />
                    <xs:enumeration value="VARIABLE" />
                    <xs:enumeration value="FLAT RATE ENVELOPE" />
                    <xs:enumeration value="PADDED FLAT RATE ENVELOPE" />
                    <xs:enumeration value="LEGAL FLAT RATE ENVELOPE" />
                    <xs:enumeration value="SM FLAT RATE ENVELOPE" />
                    <xs:enumeration value="WINDOW FLAT RATE ENVELOPE" />
                    <xs:enumeration value="GIFT CARD FLAT RATE ENVELOPE" />
                    <xs:enumeration value="SM FLAT RATE BOX" />
                    <xs:enumeration value="MD FLAT RATE BOX" />
                    <xs:enumeration value="LG FLAT RATE BOX" />
                    <xs:enumeration value="REGIONALRATEBOXA" />
                    <xs:enumeration value="REGIONALRATEBOXB" />
                    <xs:enumeration value="RECTANGULAR" />
                    <xs:enumeration value="NONRECTANGULAR" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Size">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:whiteSpace value="collapse" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Width" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0.0" />
                    <xs:totalDigits value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Length" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0.0" />
                    <xs:totalDigits value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Height" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0.0" />
                    <xs:totalDigits value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Girth" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0.0" />
                    <xs:totalDigits value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Value" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0.0" />
                    <xs:totalDigits value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="AmountToCollect" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0.0" />
                    <xs:totalDigits value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="SpecialServices" nillable="true">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SpecialService" maxOccurs="10">
                      <xs:simpleType>

                        <xs:restriction base="xs:string">
                          <xs:enumeration value="100" />
                          <xs:enumeration value="101" />
                          <xs:enumeration value="102" />
                          <xs:enumeration value="103" />
                          <xs:enumeration value="104" />
                          <xs:enumeration value="105" />
                          <xs:enumeration value="106" />
                          <xs:enumeration value="107" />
                          <xs:enumeration value="108" />
                          <xs:enumeration value="109" />
                          <xs:enumeration value="110" />
                          <xs:enumeration value="112" />
                          <xs:enumeration value="118" />
                          <xs:enumeration value="119" />
                          <xs:enumeration value="120" />
                          <xs:enumeration value="125" />
                          <xs:enumeration value="156" />
                          <xs:enumeration value="160" />
                          <xs:enumeration value="161" />
                          <xs:enumeration value="170" />
                          <xs:enumeration value="171" />
                          <xs:enumeration value="172" />
                          <xs:enumeration value="173" />
                          <xs:enumeration value="174" />
                          <xs:enumeration value="175" />
                          <xs:enumeration value="176" />
                          <xs:enumeration value="177" />
                          <xs:enumeration value="178" />
                          <xs:enumeration value="179" />
                          <xs:enumeration value="180" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="GroundOnly" default="false" nillable="true" type="xs:boolean" />
              <xs:element name="SortBy" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="LETTER" />
                    <xs:enumeration value="LARGEENVELOPE" />
                    <xs:enumeration value="PACKAGE" />
                    <xs:enumeration value="FLATRATE" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Machinable" nillable="true" type="xs:boolean" />
              <xs:element name="ReturnLocations" default="true" nillable="true" type="xs:boolean" />
              <xs:element name="ReturnServiceInfo" nillable="true" type="xs:boolean" />
              <xs:element name="DropOffTime" type="xs:string" nillable="true" />
              <xs:element name="ShipDate" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="ShipDateType">
                      <xs:attribute name="Option" default="PEMSH">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="PEMSH" />
                            <xs:enumeration value="HFP" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ID" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="USERID" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ShipDateType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}-\d{2}-\d{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:group name="Content">
    <xs:sequence>
      <xs:element name="ContentType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="HAZMAT" />
            <xs:enumeration value="CREMATEDREMAINS" />
            <xs:enumeration value="LIVES" />
            <xs:enumeration value="" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ContentDescription" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="BEES" />
            <xs:enumeration value="DAYOLDPOULTRY" />
            <xs:enumeration value="ADULTBIRDS" />
            <xs:enumeration value="OTHER" />
            <xs:enumeration value="" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:group>
</xs:schema>