xsd/TrackRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="TrackRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TrackID" maxOccurs="10">
          <xs:complexType>
            <xs:attribute name="ID" type="xs:string"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="USERID" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>